@use '../helpers' as *;

.video-card {
  display: flex;
  flex-direction: column;
  align-items: start;
  height: 100%;

  row-gap: rem(30);

  @include laptop {
    row-gap: rem(20);
  }

  &__body {
    display: flex;
    flex-direction: column;
    row-gap: fluid(15, 6);
    justify-content: space-between;
    height: 100%;
  }

  &__player {
    width: 100%;
  }
}
