.tabs-news-admin {
  padding: 20px;
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.tabs-news-admin__input {
  margin-bottom: 16px;
  max-width: 100%;
  background-color: red;
}
