.features-block {
  background-color: #262626;
  color: white;
  font-family: 'Kumbh Sans', sans-serif;
  border-radius: 30px;
  padding: 40px;
  display: flex;
  flex-direction: column;
}

.features-head {
  text-align: left;
  background-color: #404040;
  border-radius: 10px;
  padding: 10px 50px;
  display: inline-block;
  letter-spacing: 2px;
}

.features-block input,
.features-block textarea {
  font-size: 18px !important;
  text-align: center;
  border-radius: 5px !important;
  border: none !important;
  padding: 8px 12px !important;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.features-block label {
  font-size: 18px;
  letter-spacing: 1px;
  display: block;
  margin-bottom: 8px;
  text-align: right !important;
}

.features-block__feature {
  padding: 20px 40px;
}

.features-block__cell {
  padding: 5px 20px;
  background-color: #696969;
  border-radius: 10px;
  margin-bottom: 20px;
}

.features-block__input_type_feature-title {
}

.features-block__textarea {
}

.features-block__textarea_type_feature-description {
}

.features-block__cell {
}

.features-block__input_type_cell-title {
}

.features-block__textarea_type_cell-description {
}
